doctype html
html
  head
    include includes/head
  body
    include includes/header
    .container
      .page-header
        h1.heading My SuperPAC

      .page-body
        h2.heading Leading teams

        ul
          {% for team in teams %}
          {% if team.primary_slug %}
          li
            a(href="/t/{{team.primary_slug}}/") {{team.title}}
          {% endif %}
          {% endfor %}

    include includes/footer
