doctype html
html
  head
    include includes/head
  body
    include includes/header

    .container
      .page-header
        h2 Login

      .page-body
        ul
          {% for service, service_link in login_links.iteritems() %}
          li
            a(class="zocial {{service}}" href="{{service_link}}") Log in with {{service}}
          {% endfor %}

    include includes/footer
