doctype html
html
  head
    include includes/head
  body
    include includes/header
    
    .container
      .page-header
        h1 Create a new team

      .page-body
        h2 Required:
        p Team Name:
        input.name
        p Description:
        input.description
        p Goal:
        input.goal

        h2 Optional:
        p Video:
        input.video
        p Photo:
        input.photo
        p Zip code:
        input.zip_code

        div.create_team
          a.create Create my team!
    
    include includes/footer
