doctype html
html
  head
    include includes/head
  body
    include includes/header

    .container
      .page-header
        .col-md-2
        .col-md-5
          h1 {{team.title}}

        .col-md-3(style="text-align:right;")
          {% if edit_url %}
          a(href="{{edit_url}}") Edit
          {% endif %}
        .col-md-2

    .container
      .col-md-2
      .main-content.col-md-5
        {% if team.youtube_id %}
        iframe(src="//www.youtube.com/embed/{{team.youtube_id}}",
               frameborder="0", allowfullscreen, width="420", height="315")
        {% elif team.image_url %}
        img(src="{{team.image_url}}")
        {% else %}
        iframe(src="//player.vimeo.com/video/93299391", width="420",
               height="236", frameborder="0", webkitallowfullscreen,
               mozallowfullscreen, allowfullscreen)
        {% endif %}
        {% autoescape false %}
        div.description {{description_rendered}}
        {% endautoescape %}

      .sidebar.col-md-3
        p This page has raised x dollars from y pledges!
        div.pledge
          a(href="https://pledge.mayone.us/pledge?team={{team.key()}}") pledge!
        div.social
          a.facebook
          a.twitter
          a.email
      .col-md-2

    include includes/footer
