div.full-width
  div.clearfix.menu-row.row
    {% if logged_in %}
    a(href="{{logout_link}}")
      div.topmenu.col-md-1 Logout
    a(href="/dashboard")
      div.topmenu.col-md-1 Dashboard
    {% else %}
    a(href="/login")
      div.topmenu.col-md-1 Login
    {% endif %}
    a(href="//mayone.us/contact", title="Contact")
      div.topmenu.col-md-1 Contact
    a(href="//mayone.us/ways", title="Ways to Help")
      div.topmenu.col-md-1 Ways to Help
    a(href="//mayone.us/faq", title="FAQ")
      div.topmenu.col-md-1 FAQ
    a(href="//mayone.us/about", title="About Us")
      div.topmenu.col-md-1 About Us
div.container
  div.logo-row.row
    a(href="/")
      div.logo.col-md-3
        img(src="/static/logo_inverted31-e1398893630874.png", alt="Logo")
    div.subhead.col-md-9 A citizen-funded and crowdsourced super PAC, to end all super PACs.