<!-- Bootstrap modal to show login links -->
<div class="modal fade" id="login_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login to My SuperPAC</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div class="btn-group-vertical">
            <!-- IDs must match what is returned from the auth service in links -->          
            <a class="btn btn-social btn-twitter" id="btn-twitter">
              <i class="fa fa-twitter"></i>  Log in with Twitter
            </a>
            <a class="btn btn-social btn-google" id="btn-google">
              <i class="fa fa-google"></i>  Log in with Google
            </a>
            <a class="btn btn-social btn-facebook" id="btn-facebook">
              <i class="fa fa-facebook"></i>  Log in with Facebook
            </a>
            <a class="btn btn-social btn-yahoo" id="btn-yahoo">
              <i class="fa fa-yahoo"></i>  Log in with Yahoo
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="{{ site.baseurl }}/js/login_modal.js" type="text/javascript"></script>
