<!DOCTYPE html>
<html>
  <head>
    <title>MayOne.us - My SuperPAC</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" id="googlefonts-css" type="text/css" media="all" href="https://fonts.googleapis.com/css?family=Oswald:300,400,700|Lato:400,700&amp;amp;subset=latin">
    <link rel="stylesheet" type="text/css" href="/static/frontend/stylesheets/entypo-social.css">
    <link rel="stylesheet" href="/static/frontend/stylesheets/style.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/zocial/zocial.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="full-width">
      <div class="clearfix menu-row row">
      {% if logged_in %}
          <a href="{{logout_link}}"><div class="topmenu topmenu_red col-md-1">Logout</div></a>
            {% if edit_url %}
               <a href="/dashboard/new"><div class="topmenu col-md-2">Create New Pledge Page</div></a>
            {% endif %}
          <a href="/dashboard"><div class="topmenu col-md-2">Dashboard</div></a>
      {% else %}
          <a href="/login"><div class="topmenu topmenu_red col-md-1">Login</div></a>
      {% endif %}
          <a href="http://mayday.us/"><div class="topmenu col-md-2">Back to Main Page</div></a>

    </div>
    <div class="container">
      <div class="logo-row row"><a href="https://mayone.us"><img src="/static/logo_mayday.png" alt="Logo"></a></div>
    </div>
    <div class="{{body_class}}">
      <div class="container">
        {% block body %}{% endblock %}
      </div>
    <div id="footer">
        <div class="footer row">
    <div style="text-align:center;" class="col-md-8">
      <div class="pac_disclaimer">Paid for by Mayday PAC
      <br>Not authorized by any candidate or candidate's committee
      <br><a href="/">www.MayOne.us</a>
      </div>
    </div>
  <div class="col-md-1">&nbsp;</div>
    <div class="col-md-2">        <a class="twitter no-underline" href="https://twitter.com/MayOneUS"><i class="icon-twitter"></i>
          </a>
          <a class="facebook no-underline" href="https://www.facebook.com/mayonedotus"><i class="icon-facebook"></i>
          </a>
          <a class="gplus no-underline" href="https://plus.google.com/113369859819907761033/posts"><i class="icon-googleplus"></i></a>
          <a class="vimeo no-underline" href="https://vimeo.com/user187904"><i class="icon-vimeo"></i>
          </a>
    
      <div class="copyright">&copy; 2014 Mayday PAC<BR>Some Rights Reserved <a href="http://creativecommons.org/licenses/by-sa/4.0">
        <img src="http://i.creativecommons.org/l/by/4.0/80x15.png">
        </a> CC-BY
       
      
       </div>
     </div>
    <div class="col-md-1">&nbsp;</div>
      </div>
    </div>
  </body>
</html>
