<form method="post">
  <div class="container">
    <div class="col-md-6">
      <h2>Required:</h2>
      <dl>
        <dt>{{form.title.label}}</dt>
        <dd>
          <div>{{form.title}}</div>
          <p class="markdown-note">This will show up on your page as &ldquo;[Your Name]'s pledge page:&rdquo;</p>
          {% if form.title.errors %}
            <ul class="errors">
              {% for error in form.title.errors %}
                <li>{{error}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </dd>
        <dt>{{form.description.label}}</dt>
        <dd>
          <div>{{form.description(rows=10, style="width: 100%;")}}</div>
          {% if form.description.errors %}
            <ul class="errors">
              {% for error in form.description.errors %}
                <li>{{error}}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <p class="markdown-note">
            This form supports the
            <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">
              Markdown syntax
            </a>, for including text formatting, links, and images.
          </p>
        </dd>
      </dl>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <dl>        
        <dt>{{form.youtube_id.label}}</dt>
        <dd>
          <div>{{form.youtube_id}}</div>
          {% if form.youtube_id.errors %}
            <ul class="errors">
              {% for error in form.youtube_id.errors %}
                <li>{{error}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </dd>
        <dt>{{form.zip_code.label}}</dt>
        <dd>
          <div>{{form.zip_code}}</div>
          {% if form.zip_code.errors %}
            <ul class="errors">
              {% for error in form.zip_code.errors %}
                <li>{{error}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </dd>
      </dl>
    </div>
    <div>
      <div class="create_team">
        <input type="submit" value="Create Your Pledge Page" />
      </div>
    </div>
  </div>
</form>
