html,
body {
  font-family: "Oswald", arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", arial, sans-serif;
}

p,
div {
  font-family: "Lato", arial, sans-serif;
  font-size: 17px;
}

.spacing {
  height: 200px;
}

#footer {
  font-family: "Oswald", arial, sans-serif;
  text-align: center;
  color: #adadad;
}

#footer .social {
  background: #3c3c3c;
  height: 110px;
}

#footer .social span.entypo-social {
  margin: 0 15px;
  font-size: 50pt;
  line-height: 110px;
  color: yellow;
}

#footer .social a:hover {
  text-decoration: none;
}

#footer .notices {
  padding: 10px;
  background: #2b2b2b;
}

#footer .notices .pac_disclaimer {
  width: 600px;
  margin: auto;
  border: 1px solid white;
  color: white;
  font-variant: small-caps;
  font-size: 22px;
  line-height: 22px;
  padding: 5px;
  margin-bottom: 10px;
}

.heading {
  text-align: center;
}

div.description {
  padding-top: 10px;
}

form ul.errors {
  color: red;
}

@media (max-width: 1199px) {
  header .links {
    display: none;
  }

  header #primary-menu-toggle + label {
    display: inline-block;
  }
}

@media (max-width: 991px) {
  #rules {
    margin-top: 30px;
  }
}

p.markdown-note {
  font-size: small;
  font-style: italic;
}

div.team_statistic div.amount {
  font-size: 300%;
  font-weight: bold;
}

div.pledge_button {
  margin: 20px auto;
  text-align: center;
}

div.team_statistic {
  padding: 20px 40px 22px;
}

div.pledge_button a {
  font: bold 22px 'Oswald', sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 40px 22px;
  display: inline-block;
  border-radius: 4px;
  color: white;
  background-color: #800000;
}

div.pledge_button a:hover {
  background-color: #9e0b0f;
  text-decoration: none;
}
