div.description {
  padding-top: 10px;
}

div.description img.avatar {
    float: left;
    margin: 20px 20px 20px 0;
}

form ul.errors {
  color: red;
}

p.markdown-note {
  font-size: small;
  font-style: italic;
}

div.team_statistic {
  padding: 20px 40px 22px;
}

div.team_statistic div.amount {
  font-size: 300%;
  font-weight: bold;
}

div.pledge_button {
  margin: 20px auto;
  text-align: center;
}

div.pledge_button a {
  font: bold 22px 'Oswald', sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 40px 22px;
  display: inline-block;
  border-radius: 4px;
  color: white;
  background-color: #800000;
}

div.pledge_button a:hover {
  background-color: #9e0b0f;
  text-decoration: none;
}
