.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

@media all and (max-width: 650px) {
  .flag-header {
    text-align: center;
  }

  .flag-header .top-menu {
    width: 100%;
  }

  .flag-header h1 {
    font-size: 55px;
  }

  .flag-header h2 {
    font-size: 18px;
  }
}
@media all and (max-width: 420px) {
  .pledgepage #pledgecol-sidebar .input-group input {
    width: 85%;
  }
}
/* ================<< .flag-header /et cetera/ >>=============== */
.flag-header {
  background: #005983;
  background-image: url(flag-header.jpg);
  background-image: url(flag-header.jpg);
  background-position: top center;
  height: 158px;
}
.flag-header * {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
.flag-header h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 77px;
  font-weight: 900px;
  letter-spacing: -2px;
  margin-bottom: 0;
}
.flag-header h1 span {
  font-weight: 300;
}
.flag-header h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  margin-top: 0;
}
.flag-header .top-menu a {
  color: #fff;
  display: inline-block;
  margin: 1em;
  font-weight: 900;
}
.flag-header .top-menu a:hover {
  text-decoration: none;
}
.flag-header .top-menu a span {
  font-weight: 300;
}
.flag-header .top-menu button {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font: inherit;
}

.flag-header-share {
  background: #005983;
  height: 158px;
}

/* ==========================<< .pledgepage /et cetera/ >>>=====================*/
.pledgepage {
  /* ========================< Body >================================*/
  /* ========================< Sidebar >=============================*/
}
.pledgepage * {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
.pledgepage h2, .pledgepage h3 {
  font-weight: 700;
}
.pledgepage button {
  display: block;
  background: #d2393c;
  color: #fff;
  font-size: 18px;
  font-weight: 700px;
  padding: 10px 24px;
  margin: 40px 0;
  transition: background 0.15s;
}
.pledgepage button:hover {
  color: #fff;
  background: #db6365;
}
.pledgepage a.pledge-link:hover {
  text-decoration: none;
}
.pledgepage #pledgecol-main {
  padding-right: 40px;
}
.pledgepage #pledgecol-main .edit-menu {
  margin: 40px 0;
}
.pledgepage #pledgecol-main .edit-menu a {
  color: #2680a0;
  font-size: 18px;
  padding: 0 0.5em;
}
.pledgepage #pledgecol-main .edit-menu a:first-of-type {
  padding-left: 0;
}
.pledgepage #pledgecol-main h3 {
  font-size: 16px;
}
.pledgepage #pledgecol-main .pledge-copy {
  font-size: 16px;
}
.pledgepage #pledgecol-main .video-container {
  border: 0;
  padding-top: 50px;
}
.pledgepage #pledgecol-main img.avatar {
  float: left;
  margin: 20px 20px 20px 0;
}
.pledgepage #pledgecol-sidebar button {
  width: 100%;
  font-size: 30px;
}
.pledgepage #pledgecol-sidebar .progress {
  border-radius: 0;
  border: 1px solid #9dbbc8;
  padding: 4px;
  height: 40px;
  margin-bottom: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.pledgepage #pledgecol-sidebar .progress .progress-bar {
  background-color: #bcd6aa;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.pledgepage #pledgecol-sidebar .progress-info {
  text-transform: uppercase;
}
.pledgepage #pledgecol-sidebar .progress-info .raised span {
  font-weight: 700;
}
.pledgepage #pledgecol-sidebar .progress-info .goal {
  color: #888;
}
.pledgepage #pledgecol-sidebar .panel {
  margin: 40px 0;
  border: 1px solid #5590a9;
  border-radius: 0;
}
.pledgepage #pledgecol-sidebar .panel .panel-heading {
  background: #d9e6ec;
}
.pledgepage #pledgecol-sidebar .panel .panel-heading h3 {
  color: #005982;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
}
.pledgepage #pledgecol-sidebar .panel .panel-body {
  text-align: center;
  color: #888;
}
.pledgepage #pledgecol-sidebar .panel .panel-body * {
  font-weight: 700;
}
.pledgepage #pledgecol-sidebar .panel .panel-body h6 {
  margin-bottom: 0;
}
.pledgepage #pledgecol-sidebar .panel .panel-body h5.amount {
  font-size: 45px;
  margin-top: 0;
  color: #000000;
}
.pledgepage #pledgecol-sidebar .panel .panel-body h5.pledges {
  font-size: 36px;
  margin-top: 0;
}
.pledgepage #pledgecol-sidebar .social-icons {
  margin-top: 20px;
}
.pledgepage #pledgecol-sidebar .social-icons a {
  display: inline-block;
  width: 32%;
  padding-top: 65px;
  background: 50% 0 no-repeat;
  background-size: contain;
  position: relative;
  margin-bottom: 50px;
}
.pledgepage #pledgecol-sidebar .social-icons a:after {
  position: absolute;
  top: 100%;
  color: #8eb0bf;
  text-align: center;
  width: 100%;
  white-space: pre;
  left: 0;
}
.pledgepage #pledgecol-sidebar .social-icons a.twitter {
  background-image: url(social/twitter.png);
}
.pledgepage #pledgecol-sidebar .social-icons a.twitter:after {
  content: "Share with \a Twitter";
}
.pledgepage #pledgecol-sidebar .social-icons a.facebook {
  background-image: url(social/twitter.png);
}
.pledgepage #pledgecol-sidebar .social-icons a.facebook:after {
  content: "Share with \a Facebook";
}
.pledgepage #pledgecol-sidebar .social-icons a.email {
  background-image: url(social/twitter.png);
}
.pledgepage #pledgecol-sidebar .social-icons a.email:after {
  content: "Share with \a Email";
}
.pledgepage #pledgecol-sidebar .input-group {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
.pledgepage #pledgecol-sidebar .input-group .input-group-addon {
  float: left;
  width: 10%;
  line-height: 1.4 !important;
}
.pledgepage #pledgecol-sidebar .input-group input {
  width: 90%;
}
.pledgepage #pledgecol-sidebar #donation-type {
  clear: both;
}
.pledgepage #pledgecol-sidebar .spinner {
  position: absolute;
  top: -40px;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/static/danger-spinner.gif);
  background-image: url(/static/danger-spinner.gif);
  background-repeat: no-repeat;
  background-position: center;
}
.pledgepage #pledgecol-sidebar form button {
  margin-top: 0;
  height: 63px;
}

/* =====================<< And a bunch of other stuffz >>======================== */
form ul.errors {
  color: red;
}

p.markdown-note {
  font-size: small;
  font-style: italic;
}


/* LOG IN */


.login_text { 
  float: left;
  width: 750px;
  margin: 50px 30px 0 0;
}

.login_leaderboard {
  float: left;
  width: 360px;
  margin: 158px 0 75px 0;
}


.login_text h1 { 
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 50px;
}

.login_text h2,
.login_leaderboard h2 { 
  font-size: 25px;
  line-height: 33px;
  margin: 0 20px 30px 0;
}

.login_text h2.call-to-login { 
  font-weight: bold;
  color: #d2393c;
  letter-spacing: -0.01em;
}




.login-btn {
  width: 269px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 23px;
  padding: 10px;
  float: left; 
  margin: 4px;
  text-align: left
}

.login-btn:hover {
  text-decoration: none;
}

.login-btn i { 
  float: left;
  margin: 6px 16px 0 8px;
  width: 25px;
  text-align: center;
}


.login_options h2 {
  font-size: 1.5em;
  color: #666;
  margin-bottom: 20px;
}

.login_options ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.login_options li {
  margin: 0;
  padding: 0;
}

.login_options ul a {
  width: 270px;
  height: 60px;
  line-height: 58px;
  font-size: 16px;
  display: inline-block;
  background: #387796;
  color: #fff;
  margin: 0 0 25px 0;
  border-radius: 5px;
  text-align: center;
}

.login_options ul a:hover {
  text-decoration: none;
}

.login_leaderboard ol {
  margin: 0 0 20px;
  padding: 0;
  font-size: 23px;
  list-style-type: none;
}
 
 
.login_leaderboard ol li {
  border-bottom: solid 1px #eaebec;
  padding: 14px 0;
  line-height: 22px;
}
 
.login_leaderboard ol li a {
  font-weight: bold;
  display: inline-block;
  width: 270px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 22px;
  vertical-align: top;
}
 
 
.login_leaderboard ol li span {
  float: right;
}
 
.login_leaderboard ol li div.pledgesnum {
  font-size: 16px;
  color: #3F3F3C;
  float: right;
  padding: 18px 0;
}
 
.login_leaderboard p a {
  display: inline-block;
  padding: 2px 8px;
  background: #F1F1F1;
  border-radius: 3px;
}
 
.login_leaderboard p a.next {
  float: right;
}












.footer {
  background: #c6c8ca;
  text-align: center;
}

.footer .pac_disclaimer {
  color: #606062;
  text-transform: uppercase;
  border: 1px solid #606062;
  font-size: 1em;
  display: inline-block;
  padding: 15px;
}

.footer .pac_disclaimer a {
  color: #606062;
}

.footer .copyright {
  margin: 40px 0;
  color: #606062;
}

.create_team input {
  background-color: #d53a38;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  border: none;
  display: block;
  margin: 45px 0 0;
  width: 100%;
  padding: 20px;
  clear: both;
  max-width: 450px;
  text-transform: uppercase;
}

.create_team input:hover {
  background: #b73230;
  text-decoration: none;
  color: #fff;
}

.share-page .social-icons {
  margin: 25px 0 0 0;
  text-align: center;
}

.share-page .social-icons a.twitter {
  width: 270px;
  height: 60px;
  line-height: 58px;
  font-size: 20px;
  display: inline-block;
  color: #fff;
  margin: 0 0 20px 0;
  border-radius: 5px;
  text-align: center;
  background: #91d0f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #91d0f7 0%, #4097cc 68%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #91d0f7), color-stop(68%, #4097cc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #91d0f7 0%, #4097cc 68%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #91d0f7 0%, #4097cc 68%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #91d0f7 0%, #4097cc 68%);
  /* IE10+ */
  background: linear-gradient(to bottom, #91d0f7 0%, #4097cc 68%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91d0f7', endColorstr='#4097cc',GradientType=0 );
  /* IE6-9 */
}

.share-page .social-icons a.twitter:hover {
  -moz-box-shadow: inset 0 0 10px #FFFF99;
  -webkit-box-shadow: inset 0 0 10px #FFFF99;
  box-shadow: inset 0 0 10px #FFFF99;
}

.share-page .social-icons a.email {
  width: 270px;
  height: 60px;
  line-height: 58px;
  font-size: 20px;
  display: inline-block;
  color: #fff;
  margin: 0 0 20px 0;
  border-radius: 5px;
  text-align: center;
  background: #3b679e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b679e), color-stop(50%, #2b88d9), color-stop(51%, #207cca), color-stop(100%, #7db9e8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 );
  /* IE6-9 */
}

.share-page .social-icons a.email:hover {
  -moz-box-shadow: inset 0 0 10px #FFFF99;
  -webkit-box-shadow: inset 0 0 10px #FFFF99;
  box-shadow: inset 0 0 10px #FFFF99;
}

.share-page .social-icons a.facebook {
  width: 270px;
  height: 60px;
  line-height: 58px;
  font-size: 20px;
  display: inline-block;
  background: #3664a2;
  color: #fff;
  margin: 0 0 20px 0;
  border-radius: 5px;
  text-align: center;
}

.share-page .social-icons a.facebook:hover {
  -moz-box-shadow: inset 0 0 10px #FFFF99;
  -webkit-box-shadow: inset 0 0 10px #FFFF99;
  box-shadow: inset 0 0 10px #FFFF99;
}

.share-page-header {
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.copybox {
  font-family: Courier New, Courier, Mono;
  font-size: 12px;
  padding: 3px;
  margin: 3px;
  width: 270px;
  text-align: center;
}

.copy-clipboard {
  background: gainsboro url(../static/social/clipboard.png) no-repeat scroll 5px center;
  padding: 10px 10px 10px 35px;
  font-size: 10px;
  text-decoration: none;
  border: inset 1px #000;
  color: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.copy-clipboard:hover {
  text-decoration: none;
  color: #000;
}

#loginButtons .btn {
  font-size: 24px;
  margin-top: 2px;
}

#rules {
  padding:10px;
}
