{% extends "includes/base.html" %}

{% block body %}
  <div class="leaderboard_choice_by_what">    
    <span {% if orderBy == '-totalCents' %}class="active"{% endif %}>
      {% if orderBy == '-num_pledges' %}
        <a href='/leaderboard?orderBy=-totalCents'>By raised amount</a>
      {% else %}
        By raised amount
      {% endif %}
    </span>
    <span {% if orderBy == '-num_pledges' %}class="active"{% endif %}>
      {% if orderBy == '-totalCents' %}      
        <a href='/leaderboard?orderBy=-num_pledges'>By number of contributions</a>
      {% else %}
        By number of contributions
      {% endif %}
    </span>
  </div>
  <div class="page-header">
    <h2>Leaderboard</h2>
  </div>
  <div class="page-body">

    {% if logged_in %}
      <div class="edit-menu">
        <a href="/dashboard">Dashboard</a> |
        <a href="/dashboard/new">New Page</a>
      </div>
    {% endif %}
      <ul class="teamslist">
        {% for team in teams %}
          <li>{{team.position}}. <a href="/t/{{team.primary_slug}}/">{{team.title}}</a> <span>${{team.amount}}</span> <span>{{team.num_pledges}} pledges</span></li>
        {% endfor %}
      </ul>

      <p class="prevnext">
        {% if prev_link %}<a href="{{prev_link}}">Previous</a>{% endif %}
        {% if next_link %}<a href="{{next_link}}" class="next">Next</a>{% endif %}
      </p>
    </div>
  </div>
{% endblock %}
