{% extends "includes/base.html" %}
{% block body %}
  
  <div class="login_text">
    <h1>This is <u>your</u> SuperPAC.</h1> 
    <h2>We're going to fix american democracy only if we do it together. Create your own pledge page and put your personal story of why you're interested in this issue and share it through your network. </h2>
    <h2 class="call-to-login">Log in now to create or manage your pledge page:</h2>

      <div class="login_options">
          <div class="btn-group-vertical" id="loginButtons">
            {% if login_links %}
              {% for service, service_link in login_links.iteritems() %}
                <a class="login-btn btn-social btn-{{service}}" id="btn-{{service}}" href="{{service_link}}">
                  <i class="fa fa-{{service}}"></i> with {{service|title}}
                </a>
              {% endfor %}       
            {% endif %}
            <!-- IDs must match what is returned from the auth service in links -->       
          </div>
      </div>
  </div>
  {% if teams %}
    <div class="login_leaderboard">
      <h2>Top pledge pages:</h2>
      {% for team in teams %}
        <li>{{team.position}}. <a href="/t/{{team.primary_slug}}/">{{team.title}}</a><span>${{team.amount}}</span></li>
      {% endfor %}
      <p>Check out the most succesful pledge pages</p>
      <p>
        {% if prev_link %}<a href="{{prev_link}}">Previous</a> {% if next_link %} | {% endif %}{% endif %}
        {% if next_link %}<a href="{{next_link}}">Next</a>{% endif %}
      </p>
    </div>
  {% endif %}
{% endblock %}
