{% extends "includes/base.html" %}
{% block body %}
  <div class="login_text">
    To create or manage your pledge page, log in with one of the options below.
  </div>
  <div class="login_options">
    <div class="text-center">
      <div class="btn-group-vertical">
        {% if login_links %}
          {% for service, service_link in login_links.iteritems() %}
            <a class="btn btn-social btn-{{service}}" id="btn-{{service}}" href="{{service_link}}">
              <i class="fa fa-{{service}}"></i>  Log in with {{service|title}}
            </a>
          {% endfor %}       
        {% endif %}
        <!-- IDs must match what is returned from the auth service in links -->       
      </div>
    </div>
  </div>
{% endblock %}
