{% extends "includes/base.html" %}
{% block body %}
  
  <div class="login_text">
    <h1>Here to take back our government from the grip of corruption?</h1> 
    <h2>Great. Here are some ways that you can get involved:</h2>

  </div>
  <div class="action_options">
    <div class="arrow_down"></div>
    <ul>
      <li class="list_item" id="first"><a> Create your own Recruitment Page </a></li>
      <li class="list_item"><a> Check the leaderboards </a></li>
      <li class="list_item"><a> Suggest a volunteer project </a></li>
      <li class="list_item"><a> Make calls to win supporters </a></li>
      <li class= "list_item"><a> Submit a video </a></li>
      <li class="list_item"><a> Become a volunteer </a></li>
    </ul>
  </div>
{% endblock %}
