{% set body_class = "makebackground" %}
{% extends "includes/base.html" %}
{% block head %}
  <script>
    function updatePledges(total_cents, total_pledges) {
      $("#total_dollars").text("$" + (total_cents/100));
      $("#total_pledges").text("" + total_pledges);
      $("#total_dollars_text").text("pledged");
      if (total_pledges == 1) {
        $("#total_pledges_text").text("backer");
      } else {
        $("#total_pledges_text").text("backers");
      }
    }
    $(function() {
      var reload = function() {
        $.ajax({
          dataType: "jsonp",
          // TODO: we're doing a crazy thing where we pass multiple arguments
          // back via jsonp, and jquery doesn't know how to handle it. once
          // the pledge service has a better endpoint we'll use it.
          callback: "ignored_callback",
          url: "https://pledge.mayone.us/total?team={{team.key()}}&callback=updatePledges"
        });
      };
      reload();
      setInterval(reload, 15000);
    });
  </script>
{% endblock %}
{% block body %}
  <div class="page-header">
    <div class="col-md-8">
      <h1>{{team.title}}'s <span class="apostrophe-pp">pledge page</span></h1>
    </div>
    <div style="text-align:right;" class="col-md-4">
      {% if edit_url %}
        <a href="{{edit_url}}">Edit</a>
      {% endif %}
    </div>
  </div>
  <div class="main-content col-md-8">
    {% if not team.youtube_id and not team.image_url %}
      <p class="word-note">
        A word from Professor Lawrence Lessig about the Mayday PAC:
      </p>
    {% endif %}
    <div class="video-container">
      {% if team.youtube_id %}
        <iframe src="//www.youtube.com/embed/{{team.youtube_id}}" frameborder="0" allowfullscreen width="420%"></iframe>
      {% elif team.image_url %}
        <img src="{{team.image_url}}">
      {% else %}
        <iframe src="//player.vimeo.com/video/93299391" width="420" height="236" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      {% endif %}
    </div>
    <div class="description">
      {% autoescape false %}{{description_rendered}}{% endautoescape %}
    </div>
  </div>
  <div class="sidebar col-md-4">
    <div class="team_statistic">
      <div class="amount" id="total_pledges"></div>
      <div class="subtext" id="total_pledges_text">backers</div>
    </div>
    <div class="team_statistic">
      <div class="amount" id="total_dollars"></div>
      <div class="subtext" id="total_dollars_text">pledged</div>
    </div>
    <div class="pledge_button">
      <a href="https://pledge.mayone.us/pledge?team={{team.key()}}">Pledge Now</a>
    </div>
    <div class="social"><a class="facebook"></a><a class="twitter"></a><a class="email"></a></div>
  </div>
{% endblock %}
