{% set body_class = "makebackground" %}
{% extends "includes/base.html" %}
{% block head %}
  <script>
    function updatePledges(total_cents, total_pledges) {
      $("#total_dollars").text("$" + (total_cents/100));
      if (total_pledges == 1) {
        $("#total_pledges").text("" + total_pledges + " pledge");
      } else {
        $("#total_pledges").text("" + total_pledges + " pledges");
      }
    }
  </script>
  <script src="https://pledge.mayone.us/total?callback=updatePledges&team={{team.key()}}"></script>
{% endblock %}
{% block body %}
  <div class="page-header">
    <div class="col-md-8">
      <h1>{{team.title}}'s <span class="apostrophe-pp">pledge page</span></h1>
    </div>
    <div style="text-align:right;" class="col-md-4">
      {% if edit_url %}
        <a href="{{edit_url}}">Edit</a>
      {% endif %}
    </div>
  </div>
  <div class="main-content col-md-8">
    {% if not team.youtube_id and not team.image_url %}
      <p class="word-note">
        A word from Professor Lawrence Lessig about the Mayday PAC:
      </p>
    {% endif %}
    <div class="video-container">
      {% if team.youtube_id %}
        <iframe src="//www.youtube.com/embed/{{team.youtube_id}}" frameborder="0" allowfullscreen width="420%"></iframe>
      {% elif team.image_url %}
        <img src="{{team.image_url}}">
      {% else %}
        <iframe src="//player.vimeo.com/video/93299391" width="420" height="236" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      {% endif %}
    </div>
    <div class="description">
      {% autoescape false %}{{description_rendered}}{% endautoescape %}
    </div>
  </div>
  <div class="sidebar col-md-4">
    <p>
      This page has raised <span id="total_dollars">$$</span>
      from <span id="total_pledges">pledges</span>!
    </p>
    <div class="pledge"><a href="https://pledge.mayone.us/pledge?team={{team.key()}}">pledge!</a></div>
    <div class="social"><a class="facebook"></a><a class="twitter"></a><a class="email"></a></div>
  </div>
{% endblock %}
