{% extends "includes/base.html" %}

{% block head %}
<script>
var BATCH_AMOUNT = 100;
var PARALLELISM = 10;
function escape_val(val) {
  if (val === null) { return ""; }
  val = val.toString();
  val = val.replace(/"/g, '""');
  if (val.search(/("|,|\n)/g) >= 0) {
    val = '"' + val + '"';
  }
  return val;
}
function make_csv(data) {
  if (data.length == 0) {
    return "\n";
  }
  var output = "";
  var keys = [];
  $.each(data[0], function(key) { keys.push(key); });
  var first = true;
  $.each(keys, function(_, key) {
    if (!first) {
      output += ",";
    } else {
      first = false;
    }
    output += escape_val(key);
  });
  output += "\n";
  $.each(data, function(_, row) {
    first = true;
    $.each(keys, function(_, key) {
      if (!first) {
        output += ",";
      } else {
        first = false;
      }
      output += escape_val(row[key]);
    });
    output += "\n";
  });
  return output;
}
function fill_amounts(team, done_cb) {
  $.getJSON("https://pledge.mayday.us/r/total", {"team": team["key"]})
  .done(function(data) {
    team["pledges"] = data["teamPledges"];
    team["dollars"] = data["teamTotalCents"] / 100;
    done_cb();
  })
  .fail(function() {
    team["pledges"] = "";
    team["dollars"] = "";
    done_cb();
  });
}
function fill_user(team, done_cb) {
  if (team["user_token"] === null || team["user_token"].length == 0) {
    team["user_token_name"] = "";
    team["user_token_email"] = "";
    return done_cb();
  }
  $.getJSON("https://pledge.mayday.us/user-info/" + team["user_token"])
  .done(function(data) {
    team["user_token_name"] = data["user"]["name"];
    team["user_token_email"] = data["user"]["email"];
    return done_cb();
  })
  .fail(function() {
    team["user_token_name"] = "";
    team["user_token_email"] = "";
    return done_cb();
  });
}
function process_team(team, processed_cb) {
  fill_amounts(team, function() {
    fill_user(team, processed_cb);
  });
}
function process_teams_worker(teams, done_cb) {
  var team = teams.shift();
  process_team(team, function() {
    $("#status").text(teams.length + " remaining pages to process");
    if (teams.length == 0) {
      done_cb();
    } else {
      return process_teams_worker(teams, done_cb);
    }
  });
};
function process_teams(teams, all_done_cb) {
  var remaining_workers = PARALLELISM;
  var teams_copy = teams.slice(0);
  for (var i = 0; i < PARALLELISM; i++) {
    process_teams_worker(teams_copy, function() {
      remaining_workers -= 1;
      if (remaining_workers == 0) {
        all_done_cb();
      }
    });
  }
}
function finish(all_teams) {
  process_teams(all_teams, function() {
    var csv = make_csv(all_teams);
    $("#status").text("All done loading");
    $("#download").attr("href", "data:text/csv;charset=utf-8," +
        encodeURIComponent(csv));
    $("#download").attr("download", "teams.csv");
    $("#download").show();
  });
}
function loadNext(cursor, all_teams) {
  var options = {"amount": BATCH_AMOUNT};
  if (cursor.length != 0) {
    options["cursor"] = cursor;
  }
  $.getJSON("/site-admin/teams.json", options, function(data) {
    var count = 0;
    $.each(data["teams"], function(_, value) {
      all_teams.push(value);
      count += 1;
    });
    $("#status").text("Loaded " + all_teams.length + " pages");
    if (count == BATCH_AMOUNT) {
      loadNext(data["next_cursor"], all_teams);
    } else {
      finish(all_teams);
    }
  });
}
$(function() {
  loadNext("", []);
});
</script>
{% endblock %}

{% block body %}
<h2>CSV</h2>
<div id="status"></div>
<a id="download" style="display: none;">Download</a>
{% endblock %}
